<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}Welcome to World Solar Car{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
