{% extends '@layouts/base.twig' %}

{% block body %}
    <header>
        <h1 class="branding">World Solar Car</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>

    </footer>
{% endblock %}
